
@{
    ViewBag.Title = "CheckMailerIDScan";
}

<h2>Tra cứu thông tin phiếu scan</h2>
<div>
    <div class="container">
        <div class="row">
            <form method="post">

                <div class='col-sm-4'>
                    <div class="form-group">
                        From date
                        <div class='input-group date' id='dtpfromdate'>
                            <input type='text' class="form-control" id="fdate" name="FromDate" value="@ViewBag.FromDate" />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    To date
                    <div class='input-group date' id='dtptodate'>
                        <input type='text' class="form-control" name="ToDate" id="tdate" value="@ViewBag.ToDate" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>

                <div class="col-sm-2">
                    <div class="select2-selection--single">
                        </br>
                        Chọn khu vực
                        <select name="ZoneID">
                            <option value="KV1">KV1</option>
                            <option value="KV2">KV2</option>
                            <option value="KV3">KV3</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-1">
                    </br>
                    <button type="submit" class="btn btn-primary" id="submit">Xem</button>
                </div>
            </form>

        </div>
    </div>
</div>

@section scripts{

    <script type="text/javascript">

        $(function () {
            $('#dtpfromdate').datetimepicker({
                format: 'DD/MM/YYYY',
                date: new Date()
            });
        });
        $(function () {
            $('#dtptodate').datetimepicker({
                format: 'DD/MM/YYYY',
                date: new Date()
            });
        });
    </script>
}

